.movies-card {
  max-width: 364px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  background-color: #fdfdfd;
}

.movies-card__container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    'title button'
    'duration button';
  row-gap: 9px;
  justify-content: space-between;
  padding: 14px;
}

.movies-card__title {
  grid-area: title;
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.movies-card__duration {
  grid-area: duration;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  color: #a0a0a0;
}

.movies-card__button {
  grid-area: button;
  align-self: center;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background-color: #f9f9f9;
  background-image: url(../../images/movies-card__button.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 10px 13px;
  cursor: pointer;
}

.movies-card__button:hover {
  background-color: #a5a2a2;
}

.movies-card__button_type_saved {
  background-color: #2be080;
  background-image: url(../../images/movies-card__button_type_saved.svg);
}

.movies-card__button_type_saved-movies {
  position: relative;
  background-image: none;
}

.movies-card__button_type_saved-movies::before,
.movies-card__button_type_saved-movies::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 2px;
  margin: -1px 0 0 -4px;
  background-color: #000;
}

.movies-card__button_type_saved-movies::before {
  transform: rotate(45deg);
}

.movies-card__button_type_saved-movies::after {
  transform: rotate(-45deg);
}

.movies-card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  max-width: 364px;
  width: 100%;
  height: 203px;
}

@media all and (max-width: 1279px) {
  .movies-card {
    max-width: 339px;
  }

  .movies-card__image {
    height: 190px;
  }
}

@media all and (max-width: 767px) {
  .movies-card {
    max-width: 300px;
  }

  .movies-card__image {
    height: 168px;
  }
}
