.profile {
  box-sizing: border-box;
  max-width: 410px;
  width: 100%;
  padding: 74px 0 70px;
}

.profile__form {
  padding-bottom: 16px;
}

.profile__title {
  margin: 0 0 106px;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: center;
}

.profile__label {
  position: relative;
  display: flex;
  margin-bottom: 16px;
  padding-top: 17px;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  border-top: 1px solid #e8e8e8;
}

.profile__label:first-of-type {
  border-top: none;
}

.profile__input {
  flex-grow: 1;
  margin-left: 10px;
  padding: 0;
  font-weight: 400;
  text-align: right;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none;
}

.profile__input:focus {
  border-bottom-color: #3456f3;
}

.profile__submit {
  display: block;
  margin: 215px auto 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.profile__logout-button {
  display: block;
  margin: 0 auto;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #ff3055;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.profile__submit:hover,
.profile__logout-button:hover {
  opacity: 0.6;
}

.profile__submit:active,
.profile__logout-button:active {
  opacity: 0.8;
}

@media all and (max-width: 1279px) {
  .profile {
    padding: 236px 0 269px;
  }

  .profile__title {
    margin-bottom: 79px;
  }
}

@media all and (max-width: 767px) {
  .profile {
    padding: 70px 30px 40px;
  }

  .profile__title {
    margin-bottom: 63px;
  }

  .profile__submit {
    margin-top: 374px;
    font-size: 12px;
    line-height: 15px;
  }

  .profile__logout-button {
    font-size: 12px;
    line-height: 15px;
  }
}
