.response-message {
  display: block;
  margin-top: auto;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.response-message_active {
  opacity: 1;
  color: #ff3055;
}

.response-message_type_success {
  opacity: 1;
  color: #3456f3;
}
